<a
  href="#"
  id="backtothetop-fixed"
  class="this is cusstome backtothetop"
  data-backtothetop-duration="600"
  data-backtothetop-easing="easeOutQuart"
  data-backtothetop-fixed-fadeIn="1000"
  data-backtothetop-fixed-fadeOut="1000"
  data-backtothetop-fixed-bottom="10"
  data-backtothetop-fixed-right="20"
>
  <span class="fa-layers fa-fw">
    <i class="fas fa-circle"></i>
    <i class="fas fa-arrow-circle-up"></i> </span
></a>

<a
   href="#"
   id="backtothetop-fixed"
   class="this is cusstome backtothetop"
   data-backtothetop-duration="600"
   data-backtothetop-easing="easeOutQuart"
   data-backtothetop-fixed-fadeIn="1000"
   data-backtothetop-fixed-fadeOut="1000"
   data-backtothetop-fixed-bottom="10"
   data-backtothetop-fixed-right="20"
   >
<span class="fa-layers fa-fw">
<i class="fas fa-circle"></i>
<i class="fas fa-arrow-circle-up"></i> </span
   ></a>
<div style="background-color:rgba(0, 0, 0, 0.83);">
  <div style="padding: 0 10px; background-color:transparent; padding-top: 30px;">
    <hr style="max-width: 1170px; opacity: 0.2; color: lightgrey;"/>
    <div class="content-container container"; style="background-color:transparent">
     
      <div class="row">
       
        <div class="col-sm-4">
          <div style="padding-top:0px;padding-bottom:0px;">
            <div>
              <img
                class="disable-view"
                style="margin-top: 20px;"
                src="{{"images/logo_header.png" | absURL}}"
                alt=""
                width="124"
                height="35"
              />
              <div style="color: #676666; margin-top: 20px; font-size: 14px;">
                Copyright © 2020 LogiGear Corporation. All rights reserved.
                LogiGear is a registered trademark, and Action Based Testing and
                TestArchitect are trademarks of LogiGear Corporation. All other
                trademarks contained herein are the property of their respective
                owners.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div  style="padding: 0 10px;">
            <div>
              <h4 style="color: white; margin: 25px 0;">
                LogiGear Corporation
              </h4>
              <div style="margin: 15px 0;">
               <img
                  style="margin: 0 10px -3px 0;"
                  src="{{"images/location.png" | absURL}}"
                  alt=""
                  width="14"
                  height="20"
                /><span style="color: white; font-size: 14px;"
                  >1730 S. Amphlett Blvd. Suite 110, San Mateo, CA 94402</span
                >
              </div>
              <p style="color: white; font-size: 14px;"><img
                style="margin: 0 10px -3px 0;"
                src="{{"images/phone.png" | absURL}}"
                alt=""
                width="15"
                height="15"
              />Tel:
                <a
                  style="color: white; font-size: 14px;"
                  href="tel:+1(800)%20322-0333"
                  target="_blank"
                  rel="noopener noreferrer"
                  > +1(800) 322-0333</a
                >
              </p>
              <div style="margin: 15px 0;">
                <p style="color: white; font-size: 14px;"><img
                  style="margin: 0 10px -1px 0;"
                  src="{{"images/mail.png" | absURL}}"
                  alt=""
                  width="15"
                  height="15"
                />Email:
                  <a
                    style="color: white; font-size: 14px;"
                    href="mailto:sales@logigear.com"
                    > sales@logigear.com</a
                  >
                </p>
              </div>
              <div class="social-footer" >
                <a
                  style="margin-left: -5px;"
                  href="https://www.facebook.com/logigearcorporation/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    style="vertical-align: middle; margin-left: 5px; margin-right: 5px;"
                    src="{{"images/fb-icon.png" | absURL}}"
                    alt=""
                    width="30"
                    height="30"/></a
                ><a
                  href="https://twitter.com/logigear"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    class=""
                    style="vertical-align: middle; margin-left: 5px; margin-right: 5px;"
                    src="{{"images/twitter.png" | absURL}}"
                    alt=""
                    width="30"
                    height="30"/></a
                ><a
                  href="https://www.linkedin.com/company/logigear-corporation"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    class=""
                    style="vertical-align: middle; margin-left: 5px; margin-right: 5px;"
                    src="{{"images/linked-in-icon.png" | absURL}}"
                    alt=""
                    width="30"
                    height="30"/></a
                ><a
                  href="https://www.youtube.com/user/LogiGearCorporation"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    class=""
                    style="vertical-align: middle; margin-left: 5px; margin-right: 5px;"
                    src="{{"images/youtube-icon.png" | absURL}}"
                    alt=""
                    width="30"
                    height="30"/></a
                >
               
              </div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="policy-container" style="margin-top: 79px; padding: 0 10px;"><a style="font-size: 14px; color: white;" target="_blank" href="https://www.testarchitect.com/legal/privacy-policy"> Privacy Policy </a> | <a target="_blank" style="font-size: 14px; color: white;" href="https://www.testarchitect.com/legal/eula"> Terms of Use </a></div>
          <div>&nbsp;</div>
        </div>
      </div>
   </div>
</div>

<script>
//--------------- Fuse search----------------------------------

var fuse; // holds our search engine
var searchResult;
var firstRun = true; // allow us to delay loading json data unless search activated
var list = document.getElementById('searchResults'); // targets the <ul>
var first = list.firstChild; // first child of search list
var last = list.lastChild; // last child of search list
var maininput = document.getElementById('searchInput'); // input box for search
var resultsAvailable = false; // Did we get any search results?
var currentPage =1;
var itemPerpage = 10;
var searchitems="";
document.getElementById("search-header").onkeyup = function(e) { 
  executeSearch(this.value);
}





var urlParams = new URLSearchParams(window.location.search);
    var query = urlParams.get('search');
      
    currentPage = urlParams.get('page') ? urlParams.get('page'): 1;
if(query) {
  $('#search-header').val(query);
  document.getElementById('loader-container').style.display = 'block';
} else {
  if(document.getElementById('contain-default-hide')) 
  document.getElementById('contain-default-hide').style.display = 'block';
}
// ==========================================
// fetch some json without jquery
//
function fetchJSONFile(path, callback) {
  var httpRequest = new XMLHttpRequest();
  httpRequest.onreadystatechange = function() {
    if (httpRequest.readyState === 4) {
      if (httpRequest.status === 200) {
        var data = JSON.parse(httpRequest.responseText);
          if (callback) callback(data);
      }
    }
  };
  httpRequest.open('GET', path);
  httpRequest.send(); 
}


function loadSearch(callback) { 
  
  fetchJSONFile('/index.json', function(data){
    
    var options = {
      shouldSort: true,
      location: 0,
      distance: 100,
      threshold: 0.4,
      minMatchCharLength: 2,
      keys: [
        'title',
        'permalink',
        'contents',
        'description',
        'keywords',
        'aliases'
        ]
    };
    fuse = new Fuse(data, options); // build the index from the json file
    callback();
  });
}


// ==========================================
// using the index we loaded on CMD-/, run 
// a search query (for "term") every time a letter is typed
// in the search box
//
function executeSearch(term) {
  searchResult = fuse.search(term); 
   
  if (searchResult.length === 0) { // no results based on what was typed into the input box
    resultsAvailable = false;
    searchitems = '';
  } else { // build our html 
    for (let item in searchResult) { // only show first 5 results
       
      searchitems = searchitems + '<li><a href="' + searchResult[item]["item"].permalink + '" tabindex="0">' + '<span class="title">' + searchResult[item]["item"].title + '</a></li>';
    }
    resultsAvailable = true;
  }
  document.getElementById("searchResults").innerHTML = searchitems;
  if (searchResult.length > 0) {
    first = list.firstChild.firstElementChild; // first result container — used for checking against keyboard up/down location
    last = list.lastChild.firstElementChild; // last result container — used for checking against keyboard up/down location
  }
}

  if(firstRun) {
      loadSearch(function() {
        if (query) {
        
        
      searchResult = fuse.search(query); 
   
      var $results = $("main");
      $results.empty();
        renderResults(searchResult, query);
 
       } 
      }); 
      firstRun = false;
  }


//-------------------------------------------------------------

       
      

       
  if (/MSIE 10/i.test(navigator.userAgent)) {
  document.getElementById('language-container').style.visibility ='hidden';
}

if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
  document.getElementById('language-container').style.visibility ='hidden';
   
}

if (/Edge\/\d./i.test(navigator.userAgent)){
  document.getElementById('language-container').style.visibility ='hidden';
  
}

  //reloadHeaderLink();
  fixTableScroll();
  imageviewer("img");
  createCoppyCode();
  hideListStyle();
  function hideListStyle() {
    var allElements = $('ol'); 
    $.each(allElements, function (index, element) {
     if($(element).children().length == 1) {
      $(element).css("padding-left", "0px")
       var lielement = $(element).children()[0];
       $(lielement).css("list-style-type", "none")
     }
    });
  }

  if($('thead').text().trim() == "") {
    $('thead').hide();
  }

  function copyToCB (copyIcon, tempCopyInput, d) {
  tempCopyInput.select();
  d.execCommand('copy');

  copyIcon.textContent   = 'Copied to clipboard';
  copyIcon.className='copied_clipboard'
  setTimeout(function(){ copyIcon.textContent   = 'copy'; copyIcon.className='copy_clipboard'}, 3000);
};

function reloadHeaderLink() {
  var allElements = $('main').children();
  var wrapper;
  $.each(allElements, function (index, element) {
    
    if(element.nodeName !== "NAV" && element.nodeName !== "FOOTER") {
     
      var parent = element.parentNode;
      if(element.nodeName === "H2") {
        wrapper = document.createElement('section');
        var idy = element.id;
        var classn = element.className ;
        if(classn) idy +=classn;
        wrapper.id = idy;
        element.removeAttribute('id');
      }
      if(wrapper){
        
        parent.replaceChild(wrapper, element);
        wrapper.appendChild(element);
      }
    }
  
   
  });
}

$('span.wh_expand_btn').click(function (e) {

  var siblings = $(this).parent().siblings(':not(.wh_not_expandable)');
  $(this).toggleClass("expanded");
  siblings.slideToggle("1000");
})


$('span.permalink').click(function (e) {
  var id = $(this).closest('[id]').attr('id');
            var hash = '#' + id;
            e.preventDefault();
            history.replaceState({}, '', hash);

            $('html, body').animate({scrollTop: $("[id='" + id + "']").offset().top}, 1000);


})


function fixTableScroll() {
  const d = document;
let highlight = d.querySelectorAll('table');// or any div containing code stuff
  
for (let index = 0; index < highlight.length; index++) {
  const hl = highlight[index];
  var parent = hl.parentNode;
  var wrapper = document.createElement('div');
  wrapper.className='table_container';
  parent.replaceChild(wrapper, hl);
  wrapper.appendChild(hl);
}

}

function createCoppyCode () {
  const d = document;
const tempCopyInput = d.createElement('input');
d.body.appendChild(tempCopyInput);
tempCopyInput.style.position = 'fixed';
tempCopyInput.style.top = '-1000px';
// copy to clipboard function


// Hugo outputs code `div` with `highlight` class name.
// copy from highlight container
let highlight = d.querySelectorAll('pre');// or any div containing code stuff


copyIcon = d.createElement('button');
copyIcon.innerHTML = 'copy';
copyIcon.className='copy_clipboard'
  
for (let index = 0; index < highlight.length; index++) {
  const hl = highlight[index];
  let buttonnote = copyIcon.cloneNode([true]);
  hl.appendChild(buttonnote);
  hl.children[1].addEventListener('click',function() {
  let codeText = hl.childNodes[0].childNodes[0].textContent;
  tempCopyInput.setAttribute('value', codeText);
    copyToCB(buttonnote, tempCopyInput, d);
  });
}
}
  function searchRemote(query, page) {
    
    var currentLanguage = readCookie('googtrans');
    if(currentLanguage !== undefined) {
      var searchHost = 'https://glowing-harmony-272303.appspot.com/ja?q=';
     } else {
      var searchHost = 'https://glowing-harmony-272303.appspot.com/?q=';
     }

    var $results = $("main");
    if (!page) page = 1;
     var urlQuery = searchHost+escape(query);
    
    $.getJSON(urlQuery+'&page=' +page)
      .done(function(res) {
        $results.empty();
        renderResults(res, query);
      
      }).fail(function() {
        $results.empty();
        $results.append($("<div>", {html: "<h3>Sorry we couldn't find any matches for <span class='search-query'></span></h3>"}));
        var $query = $(".search-query");
        $query.append(document.createTextNode(query));

        document.getElementById('loader-container').style.display = 'none';
        document.getElementById('main-container-page').style.visibility = 'visible';
  });
     
  }



  function initUI() {
    // $("#search-header").keyup(function() {
    //   // Only trigger a search when 2 chars. at least have been provided
    //   var query = $(this).val();
      
    //   if (query.length < 2) {
    //     return;
    //   }

      
    // });
  }

  // function searchOnQuery() {
  //   var urlParams = new URLSearchParams(window.location.search);

   
  //   var query = urlParams.get('search');
    
  //   if (query) {
      
  //     searchRemote(query, page);
    
     
  //   } else {
  
  //   }
  // }

  
  /**
   * Display the 10 first results
   *
   * @param  {Array} results to display
   */
  function renderResults(res, query) {
   
    document.getElementById('loader-container').style.display = 'none';
    var converter = new showdown.Converter();
    var $results = $("main");
    if (res.length < 1) {
      $results.append($("<div>", {html: "<h3>Sorry we couldn't find any matches for <span class='search-query'></span></h3>"}));
       var $query = $(".search-query");
        $query.append(document.createTextNode(query));
       
        return ;
    }

    $results.append($("<div>", {html: '<div ><div class="search-contain"><h4>' + res.length + ' document(s) found for: <span class="search-query">'+query +'</span><h4></div> <span class="search-query-right"><h5>Page '+currentPage +'/' + res.length +'</h5></span></div>'}));

    
    currentPage = parseInt(currentPage);
   
	var startIndex = (currentPage - 1)*itemPerpage;
	res = searchResult.slice(startIndex, startIndex + itemPerpage);

    res.forEach(function(result) {
      var $result = $("<li class='search-result__item'>");
      $result.append(
        $("<a>", {
          href: result.item.aliases[0],
          html: "<strong> " +converter.makeHtml(result.item.title)+"</strongs>"
        })
      );
      $result.append($( converter.makeHtml(result.item.description)));
      $result.append(
        $("<a>", {
          href: result.item.aliases[0],
          html: "<i>" +  result.item.aliases[0].substr(1) + "</i>",
          class: "search-result-url"
        })
      );
      $results.append($result);
    });

    let pagination = $('<ul class="search-pagination">');
    
    if (searchResult.length > itemPerpage) {
      const disablec =  currentPage <= itemPerpage ? 'pagin-disable': '';
      pagination.append($('<li><a class="pre-list ' + disablec + '" href="javascript:void(0)" class="paging-item"> < </a></li>'));
    }

    var begin = (Math.ceil(currentPage/itemPerpage)-1)*itemPerpage+1;
    var end =  (begin+itemPerpage-1) > Math.ceil(searchResult.length/itemPerpage) ? Math.ceil(searchResult.length/itemPerpage) : (begin+itemPerpage-1);
   
    for(let i = begin ; i <= end; i++) {
      const cl = i === currentPage ? 'active': '';
      pagination.append($('<li class="'+ cl +'"><a href="javascript:void(0)" class="paging-item" >'+i+'</a></li>'));
    }
    
    if (searchResult.length >itemPerpage) {
      const disablec = Math.ceil(searchResult.length / itemPerpage) === end ? 'pagin-disable': '';
      pagination.append($('<li ><a class="next-list ' + disablec + '" href="javascript:void(0)" > > </a></li>'));
    }


    $results.append(pagination);
    $('.paging-item').bind("click", function(e) {
      window.scrollTo({ top: 0, behavior: 'smooth'});
      currentPage=$(this).text();
      var $results = $("main");
      $results.empty();
      renderResults(searchResult, query);   
});

$('.pre-list').bind("click", function(e) {
  window.scrollTo({ top: 0, behavior: 'smooth'});
  currentPage = ((Math.ceil((currentPage-itemPerpage)/itemPerpage))*itemPerpage);
  var $results = $("main");
      $results.empty();
      renderResults(searchResult, query);  
});

$('.next-list').bind("click", function(e) {
   window.scrollTo({ top: 0, behavior: 'smooth'});
  currentPage = ((Math.ceil(currentPage/itemPerpage))*itemPerpage+1);
  var $results = $("main");
      $results.empty();
      renderResults(searchResult, query);  
});
  }

  function shortenString(string, length) {
    if(string.length > length){
      //trim the string to the maximum length
      var trimmedString = string.substr(0, length);

      //re-trim if we are in the middle of a word and 
      trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")))
      return trimmedString + '...';
    }

    return string;
  }

  // Let's get started

  function updateHasChild(el) {
    const chidren = el.find("ul > li");
    if (el.find("ul > li").length > 0) {
      el.children("a").addClass("has-child");
    }

    chidren.each(function(idx, item) {
      updateHasChild($(item));
    });
  }

  $(document).ready(function() {
  
    $(document).click(function() {
    $('#searchResults').empty();
});

    initUI();
   // searchOnQuery();
    $(".open-menu > ul > li").each(function(idx, item) {
      updateHasChild($(item));
    });
  });

  function loadContent(url, el) {
    window.scrollTo({ top: 0});
    var parentEl = $(el).parent();
    var siblingsEl = parentEl.siblings();
    siblingsEl.removeClass("open");
    siblingsEl.removeClass("active");
    $(".open-menu")
      .find(".active")
      .removeClass("active");

    parentEl.addClass("active");
    if (parentEl.hasClass("open")) {
      parentEl.removeClass("open");
      parentEl.addClass("close");
    } else if (parentEl.hasClass("close")) {
      parentEl.removeClass("close");
      parentEl.addClass("open");
    } else {
      parentEl.addClass("open");
    }

    $.get(url)
      .done(function(content) {
        var remoteContent = $(content)
            .find("main")
            .html();
        $("main").html(remoteContent);
        // window.history.pushState({"html":remoteContent,"pageTitle":url},"", url);
        // imageviewer("img");
        // createCoppyCode();
      })
      .fail(function(jqxhr, textStatus, error) {
        var err = textStatus + ", " + error;
        console.error("Error getting Hugo index flie:", err);
      });
      
    return false;
  }

  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');

</script>
