--- 
title: "Opening latest test result"
linktitle: "Opening latest test result"
description: "Opening the most recent result, for a test run multiple times."
weight: 10
aliases: 
    - /TA_Help/Topics/Test_result_open_latest_test_result.html
keywords: "latest result, opening"
---

Opening the most recent result, for a test run multiple times.

Choose one of the following two methods to open the latest test result of a test module:

-   Option 1:

    1.  In the TestArchitect explorer tree, select the test module folder containing the test module that you want to open the latest test result of.

        The test module list view appears on the main panel.

    2.  Select a test module.

    3.  Right-click the selection.

    4.  On the context menu, select **Results** \> **Open Latest Test Result**.

-   Option 2:

    1.  Select the test module that you want to open the latest test result of.

    2.  Right-click the selection.

    3.  On the context menu, select **Results** \> **Open Latest Test Result**.


The latest test result appears on the main panel.



