--- 
title: "Viewing latest test results"
linktitle: "Viewing latest test results"
description: "Viewing the local result details of the most recently executed test."
weight: 4
aliases: 
    - /TA_Help/Topics/Test_result_viewing_latest_result.html
keywords: "test results, viewing latest"
---

Viewing the local result details of the most recently executed test.

1.  Expand the **Results** node in the TestArchitect explorer tree.

2.  Select the **LOCAL RESULTS** node, and then right-click the selection.

3.  From the context menu, click **Latest Test Result**.


The most recently executed local test result appears in the main panel.




