
{{- define "main" -}}
<style>
    
.image-container {
    position: relative;
    width: 100px;
    min-height: 200px;
}
    main{
        max-width: 100%;
        flex: inherit;
    }

    .sidebar{
        display: none;
    }

    .card{
        border: none;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;
        height: 240px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(219,215,219,0.7);
        -moz-box-shadow: 0px 0px 14px 0px rgba(219,215,219,0.7);
        box-shadow: 0px 0px 14px 0px rgba(219,215,219,0.7);
    }

    .container {
        padding: 0px;
    }

    .card-title{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    .card-title:hover{
        color: black;
    }
    .img-fluid{
        position: absolute;
        top: 50%;
        margin-top: -45px;
    }

    .card-block{
        padding-left: 20px !important;
    }

    .administrate-guide, .testarchitect-tuto,  .automation{
        padding-top: 35px;
        
    }


    @media screen and (max-width: 480px) {
        .card{
            padding-left: 0px;
            padding-right: 5px;
            
        }
        .using-test {
            height: 400px;
        }
        .admin-guide {
            height: 260px;
        }
        .test-tutorial {
            height: 280px;
        }

        .user-guide {
            height: 350px;
        }

        .auto-guide {
            height: 300px;
        }
    }

    @media screen and (max-width: 740px) {
     
        .using-test {
            height: 300px;
        }
        .admin-guide {
            height: 200px;
        }
        .test-tutorial {
            height: 210px;
        }

        .user-guide {
            height: 280px;
        }

        .auto-guide {
            height: 250px;
        }
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card using-test">
            <div class="row no-gutters">
                <div class="col-auto image-container">
                    <img src="/images/home/estArchitect Help system.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <a href="/TA_UsingHelpSystem/Topics/hs_using_help_system.html" class="card-title">Using the TestArchitect Help system</a>
                        <p class="card-text">The TestArchitect Help system is available in both desktop (CHM) and web-based versions. This section describes the help viewers and how you can use them to find the information you need.</p>
                       
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card admin-guide">
            <div class="row no-gutters">
                <div class="col-auto image-container">
                    <img src="/images/home/Administration Guide.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <a href="/TA_Administration/Topics/Administration_Guide_begin.html" class="card-title">Administration Guide</a>
                        <p class="card-text">Learn how to set up and administrate the License Server, the Repository Server,   etc.</p>
                       
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-lg-6">
            <div class="card test-tutorial">
                <div class="row no-gutters">
                    <div class="col-auto image-container">
                        <img src="/images/home/TestArchitect TutorialTA Tutorial.png" class="img-fluid" alt="">
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <a href="/TA_Tutorials/Topics/Tutorials_Managing_Tests_with_TestArchitect.html" class="card-title">TestArchitect Tutorial</a>
                            <p class="card-text">Get started creating and managing your tests with TestArchitect by reviewing these introductory lessons.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card user-guide">
                <div class="row no-gutters">
                    <div class="col-auto image-container">
                        <img src="/images/home/User Guide.png" class="img-fluid" alt="">
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <a href="/TA_Help/Topics/User_Guide_begin.html" class="card-title">User Guide</a>
                            <p class="card-text">
                                This guide provides instructions on using TestArchitect.   It also explains the environment requirements for TestArchitect and   describes the process of running tests and reviewing test results. 
                                
                             </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        
      </div>
      </div>


      <div class="row">
        <div class="col-lg-6">

            <div class="card auto-guide">
                
                <div class="row no-gutters">
                    <div class="col-auto image-container">
                        <img src="/images/home/Automation Guide.png" class="img-fluid" alt="">
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <a href="/TA_Automation/Topics/Automation_Guide_begin.html" class="card-title">Automation Guide</a>
                            <p class="card-text">With TestArchitect, you can test apps running on various environments, such as, desktop, web, mobile applications, etc.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      </div>

   
      
   

{{- end -}}
