--- 
title: "Display latest test result"
linktitle: "Display latest test result"
description: "You can quickly display the latest test result for a project from the project's context menu."
weight: 4
aliases: 
    - /TA_Help/Topics/Projects_and_project_items_display_latest_test_result.html
keywords: "projects, displaying test results, displaying, latest test results, test results, displaying latest"
---

You can quickly display the latest test result for a project from the project's context menu.

Ensure that your TestArchitect Client is running and connected to a repository.

To display the latest test result for a project:

1.  Right-click the project node in the TestArchitect explorer tree for which you want to get the latest result.

2.  Select **Latest Test Result** in the context menu.

    ![](/images/TA_Help/Images/Projects_latest_test_result.png)


The latest test result for the selected project is displayed as a tab in the main panel. Only the latest test result on the local machine \(local results\) is displayed. If there is no result on the local machine for the selected project, TestArchitect informs you that the no latest test result is available.

![](/images/TA_Help/Images/Projects_no_local_test_results.png)




